### Backend (Java/Spring) ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### Frontend (React/Angular/Node) ###
node_modules/
dist/
build/
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

### Optional: Build files ###
*.jar
*.war
*.class
